@model IEnumerable<ContactAppFinalAuthFluentMVC.Models.ContactDetail>

@{
    ViewBag.Title = "GetContactDetails";
}

<h2>GetContactDetails</h2>
@if (User.IsInRole("Staff"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @if (User.IsInRole("Staff")) { 
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            }
        </td>
    </tr>
}

</table>
